body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cor {
   width: 20vw;
}